
<div class="row">
  <div class="col-xs-12 p-3 padding-btm-0">

    <div class="form-group">
      Student name: <input type="text" class="form-control d-inline width-auto" #accountName>
    </div>

    <div class="form-group">Student status:
      <select class="form-control d-inline width-200" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>

    <button
      class="btn btn-primary"
      (click)="onCreateAccount(accountName.value, status.value)">
      Add Account
    </button>

  </div>
</div>

